{% extends "base.html.j2" %}

{% set title=meta.title %}

{% block content %}
<header>
    <h1>{{ meta.title }}</h1>
    <p>{{ meta.date }}</p>
</header>
{{ content }}
{% if meta.tags %}
    <p class="tags">{% for t in meta.tags %}
        <a href="/blog/tags/{{ t }}.html">{{ t }}</a>
    {% endfor %}</p>
{% endif %}
{% endblock %}
